html {
   line-height: 1.2em;
   font-family: verdana;
   font-size: 15px;
}

p {
  font-size: 1em;
  text-align: center;
  line-height: 50px;
}

label {
  display: block;
  background-color: #ffffff;
  text-align: center;
}

form{
  padding-top: 50px;

}

@media screen and (min-width: 480px) {
  label {
    display: inline-block;
    color: black;
    margin-right: 5px;
    font-size: 1.3em;
  }

  div {
    display: inline;

  }

}
